/* External fonts  */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Google Sans */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Set behaviour when user hovers over the nav items  */
.nav-item a:hover {
    background-color: rgb(107, 168, 67);
    color: white
}

/* Set the properties of the map container to cover the entire viewport */
#base-map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

/* Set the properties of the map container to cover the entire viewport */
#viewer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
/* Style the footer  */
footer {
    padding: 0px;
}

footer a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    padding: 5px 20px;
    font-family: 'Roboto', sans-serif;
}
/* Set behaviour when user hovers over the footer items  */
footer a:hover {
    background-color: rgb(107, 168, 67);
    color: white
}

.panel {
    display: none;
    position: absolute;
    height: auto;
    z-index: 100;
}

.panel-info {
    max-width: 450px;
    bottom: 50px
}

#pnl-contact {
    left: 50%;
}

.panel .card-header {
    background-color: rgb(107, 168, 67);
    color: white
}

.close-icon {
    color: pointer;
}

.close-icon:hover {
    scale: 1.2;
}

/* Define the location and size of the tool's panel */

.panel-tool {
    width: 350px;
    right: 5px;
    top: 70px
}

.panel-tool input[type=button] {
    background-color: rgb(107, 168, 67);
    color: white; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#heatmap-container {
    height: calc(100% - 50px); /* Adjust height as needed */
    margin-top: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}